body{
	/*background:none !important;*/
}
div.footer-1{
	width:100%;
	margin:0 auto;
}
div.footer-1 div.safty-life{
	width:1200px;
	margin:0 auto;
	height:120px;
}
 div.footer-1 div.footer-center{
	width:1200px;
	margin:0 auto;
	height:192px;
}
div.footer-1 div.footer-bottom{
	width:100%;
}

div.footer-1 div.footer-center div.footer-center-inner{
	position:relative;
	height:166px;
	padding-top:35px;
	margin:0 auto;
}
/*中间:最左侧部分 */
div.footer-1 div.footer-center div.footer-1915{
	width:290px;
	float:left;
	margin-right:95px;
}
div.footer-1 div.footer-center div.footer-1915 img{
	vertical-align:middle;
	margin-bottom:24px;
}
div.footer-1 div.footer-center div.footer-1915 span{
	display:block;
	font-size:16px;
	color:#626262;
	line-height:22px;
}

/* 中间:中间部分 */
div.footer-1 div.footer-center ul.footer-c915{
	width:472px;
	height:132px;
	float:left;
}
div.footer-1 div.footer-center ul.footer-c915 li{
	width:118px;
	float:left;
}
div.footer-1 div.footer-center ul.footer-c915 li h3{
	font-size:14px;
	color:#009c4c;
	line-height:20px;
}
div.footer-1 div.footer-center ul.footer-c915 li ul{
	margin-top:16px;
}
div.footer-1 div.footer-center ul.footer-c915 li ul li{
	font-size:14px;
	margin-bottom:6px;
}
/* 中间:右侧部分 */
div.footer-1 div.footer-center div.footer-r915{
	float:right;
	width:240px;
	height:128px;
}
div.footer-1 div.footer-center div.footer-r915 dl{
	float:right;
}
div.footer-1 div.footer-center div.footer-r915 dl:first-child{
	margin-left:20px;
}
div.footer-1 div.footer-center div.footer-r915 dl dt{
	width:110px;
	height:110px;
}
div.footer-1 div.footer-center div.footer-r915 dl dt img{
	width:110px;
	height:110px;
	vertical-align:middle;
}
div.footer-1 div.footer-center div.footer-r915 dl dd{
	font-size:14px;
	text-align:center;
	color:#626262;
}
/* 下侧部分 */
div.footer-1 div.footer-bottom{
	min-height:40px;
	border-top:1px solid #e2e6e4;
	font-size:12px;
}
div.footer-1 div.footer-bottom div.footer-bottom-inner{
	height:auto;
	text-align:center;
	box-sizing:border-box;
	padding-top:13px;
	font-size:12px;
}
div.footer-1 div.footer-bottom div.footer-bottom-inner p span{
	position:relative;
	color:#626262;
	text-align:center;
	bottom:20px;
}
div.footer-1 div.footer-bottom div.footer-bottom-inner p img{
	display:inline-block;
	width:47px;
	height:47px;
}
