/* 整体大内容 */
div.side-content-2{
	width:1200px;
	height:auto;
	margin:0 auto;
	background:#fff;
	position:relative;
	/*top:-40px;*/
	box-shadow:0 0 5px rgba(141,141,141,0.5);
 }
div.side-content-2>div.container2-1{
	width:100%;
	height:auto;
	min-height:400px;
}
div.side-content-2>div.container2-1>div.inner-container-1{
	min-width:100px;
	height:auto;
	min-height:400px;
	margin:0 auto 0;
	padding-bottom:30px;
	position:relative;
	background-color:#fff;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.home-banner915{
	position:relative;
	height:430px;
	top:-15px;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.slider915-1{
	width:100%;
	height:430px;
	overflow:hidden;
	position:relative;
}

/* 轮播图部分的ul*/
div.side-content-2>div.container2-1>div.inner-container-1 div.slider915-1 ul.slider-main{
	width:999999px;
	height:430px;
	position:absolute;
	zoom:1;
	left:0;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.slider915-1 ul.slider-main li{
	float:left;
	width:1200px;
} 
div.side-content-2>div.container2-1>div.inner-container-1 div.slider915-1 ul.slider-nav{
	position:absolute;
	bottom:4px;
	left:50%;
	margin-left:-51px;
}
/* 小圆点的部分 */
div.side-content-2>div.container2-1>div.inner-container-1 div.slider915-1 ul.slider-nav li{
	display:inline-block;
	overflow:hidden;
	width:10px;
	height:10px;
	margin:0 5px;
	background:rgba(0,0,0,0.3);
	border-radius:50%;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.slider915-1 ul.slider-nav li:hover{
	cursor:pointer;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.slider915-1 ul.slider-nav li.select{
	background:#009c4c;
}

/* 轮播图两边的左右大三角 */
div.side-content-2>div.container2-1>div.inner-container-1 div.home-banner915 div.slider-page a{
	display:inline-block;
	width:49px;
	height:85px;
	line-height:85px;
	text-align:center;
	cursor:pointer;
	border-radius:6px;
	background:rgba(0,0,0,0.3);
}
div.side-content-2>div.container2-1>div.inner-container-1 div.home-banner915 div.slider-page a.slider-pre{
	position:absolute;
	top:50%; 
	margin-top:-43px;
	right:-60px; 	
}
div.side-content-2>div.container2-1>div.inner-container-1 div.home-banner915 div.slider-page a.slider-next{
	position:absolute;
	top:50%; 
	margin-top:-43px;
	left:-60px; 	
}
div.side-content-2>div.container2-1>div.inner-container-1 div.home-banner915 div.slider-page img{
	vertical-align:middle;
}

/*会员部分*/
div.side-content-2>div.container2-1>div.inner-container-1 div.app-vip915{
	width:100%;
	margin-top:20px;
	min-height:270px;
	zoom:1;
	display:flex;
	justify-content:space-between;
}
/* 楼层推广:美味推荐详情 */
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915{
	height:679px;
}
/* 左侧：大图片 */
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-L915{
	position:relative;
	left:10px;
	float:left;
	box-shadow:0 0 5px rgba(141,141,141,0.5);
	width:355px;
}
/* 右侧：详情部分 */
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915{
	box-sizing:border-box;
	width:825px;
	/* background:red; */
	float:right;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 ul{
	overflow:hidden;
	border-top:1px solid #e2e6e4;
	border-left:1px solid #e2e6e4;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 ul li{
	border-right:1px solid #e2e6e4;
	border-bottom:1px solid #e2e6e4;
	padding:0 30px 10px 29px;
	height:335px;
	box-sizing:border-box;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 .m-card>a{
	display:block;
	width:214px;
	height:214px;
	box-sizing:border-box;
	overflow:hidden;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 .m-card>h3{
	width:214px;	
	box-sizing:border-box;
	font-weight:none;
	height:42px;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 .m-card>h3 a{
	font-size:16px;
	color:#333;	
	word-break:break-word;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 .m-card-price p:first-child{
	font-size:12px;
	margin-top:2px;
	height:20px;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 .m-card-price p:nth-child(2){
	font-size:18px;
	margin-top:2px;
	height:20px;
	font-weight:bold;
	color:#009c4c;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 .m-card-price .icon{
	position:relative;
	bottom:26px;
	left:160px;
	cursor:pointer;
	z-index:5;
	background-position:-435px -197px;
	width:40px;
	height:40px;
	display:inline-block;
	background-image:url(../img/index/icons.png-v1.3.png);
	
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 li:nth-child(2){
	position:relative;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 li:nth-child(2) .m-card .posibuy915{
	position:absolute;
	top:5px;
	left:8px;
	width:50px;
	height:50px;
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 li:nth-child(2) .m-card .posibuy915 img{
	width:50px;	
}
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 li.del .m-card .m-card-price p:nth-child(2) del{
	color:#737373;
	font-size:14px;
	margin-left:20px;
	font-weight:normal;
}

/* 各楼层详情下图片放大设置 */
.categroyFood-R915 ul li div a img{
	display:inline-block;
	transition:all .5s linear;
}
.categroyFood-R915 ul li div a img:hover{
	transform:scale(1.1);
}
/* 文字溢出处理 */
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 li.over h3>a.over{
	overflow:hidden;
}

/* 暂无现货图片位置 */
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 li.no-product .m-card>a img.product-icon915{
	display:inline-block;
	position:absolute;
	right:35px;
	bottom:160px;
	width:150px;
}
/* 暂无现货购物车处理*/
div.side-content-2>div.container2-1>div.inner-container-1 div.categroy-food915 .categroyFood-R915 li.no-product .m-card .m-card-price i.no-product{
	background-position:-485px -197px !important;
}



/* 2.1置顶键 */
.inner-container-1 .m-scroll-top{
	display:none;
	/*display:block; */
	position:fixed;
	right:0px;
	bottom:160px;
	z-index:34;
}
/* 三个图标背景设置*/ 
.inner-container-1 .m-scroll-top .m-one-top915{
	width:49px;
}
.inner-container-1 .m-scroll-top .m-one-top915,.inner-container-1 .m-scroll-top .icon-letter915{
	display:block;
	height:35px;
	background-color:rgba(0,0,0,0.3);
	cursor:pointer;
	margin-bottom:8px;
	padding:7px 10px;
}

/* 邮箱输入框设置 */
.inner-container-1 .m-scroll-top .icon-letter915 input{
	display:none;
	width:202px;
	height:35px;
	border:none;
	background-color:#fff;
	padding:0 4px;
	margin-left:2px;
	float:left;
	outline:none;
	color:#626262;
}
/*邮箱中弹出对话框*/
.dialog{
	height:0px;
	width:360px;
	background:#f7fafa;
	box-shadow:0 0 24px 0 rgba(15,66,76,0.25);
	opacity: 0;
	position:fixed;
	bottom:0px;
	right:100px;
	z-index:100;
	transition: all 1s linear;
}
.in{
	height:540px;
	opacity: 1;
}
/*邮箱中弹出对话框:头部*/
.dialog .chat-header{
	height:60px;
	background:rgb(0,156,76);
	z-index:99;
	position:relative;
}
/*邮箱中弹出对话框:头部右侧*/
.dialog .chat-header .chat-header-right{
	position:absolute;
	right:5px;
}
.dialog .chat-header .chat-header-right a{
	display:inline-block;
	width:11px;
	height:11px;
	background-image:url(../img/index/bgGroup.png);
	background-repeat:no-repeat;
	vertical-align:middle;
	margin-right:5px;
	text-decoration:none;
}
/*邮箱中弹出对话框:头部右侧 静音以及声音显示*/
.voice{
	background-position:-581px 0;
}
.silence{
	background-position:-501px 0;
}

.dialog .chat-header .chat-header-right .min,.dialog .chat-header .chat-header-right .max{
	background-position:-661px 0;
}
.dialog .chat-header .chat-header-right .close{
	background-position:-2474px 0;
}
/*邮箱中弹出对话框:头部左侧*/
.dialog .chat-header .chat-header-left{
	padding:10px 0;
	margin-left:12px;
}
/*邮箱中弹出对话框:头部左侧 头像*/
.dialog .chat-header .chat-header-left img{
	width:42px;
	height:42px;
	border-radius:50%;
	vertical-align:middle;
	float:left;
	cursor: pointer;
}
/*邮箱中弹出对话框:头部左侧 文字描述*/
.dialog .chat-header .chat-header-left .chat-header-left-desc{
	float:left;
	margin-left:10px;
}
.dialog .chat-header .chat-header-left .chat-header-left-desc p{
	height:20px;
	color:#fff;
	cursor: pointer;
}
.dialog .chat-header .chat-header-left .chat-header-left-desc .shuoming{
	font-size:12px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*弹出对话框:聊天内容*/
.dialog .chat-content .chat-content-top{
	height:373px;
	background:#fafdff;
	color:#333;
	overflow-x:hidden;
	overflow-y:auto;
	position:relative;
}
/*历史记录*/
.dialog .chat-content .chat-content-top .historyTrigger{
	color:#b1b6b4;
	cursor:pointer;
	text-align:center;
	margin-top:15px;
}
/*对话框内容*/
.dialog .chat-content .chat-content-top .content{
	margin: 15px 10px;
}
.dialog .chat-content .chat-content-top .content .msgContent{
	width:auto;
	max-width: 250px;
	height: auto;
	word-break: break-all;/*Opera 不支持 word-break 属性*/
	margin: 5px;
	padding: 3px;
	border-radius: 5px;
}
.dialog .chat-content .chat-content-top .content .lf{
	background:lightgrey;
}
.dialog .chat-content .chat-content-top .content .rt{
	background:yellowgreen;
}
/*编写聊天内容*/
.dialog .chat-content .chat-content-footer{
	display:block;
	width:100%;
	height:107px;
	border-top:1px solid #ebeff0;
	background:#fff;
	box-sizing:border-box;
	position:absolute;
	z-index:100;
}
/*编写聊天内容打开和发送按钮*/
.dialog .chat-content .chat-content-footer .chat-content-footer-on{
	position:relative;
	width:100%;
	height:100%;
	display:inline-block;
	box-sizing:border-box;
}
.dialog .chat-content .chat-content-footer .chat-content-footer-on .text-layout{
	position:relative;
	background:#fff;
}
/*表情区*/
.dialog .chat-content .chat-content-footer .chat-content-footer-on .text-layout .funcPanel{
	height:22px;
	line-height:22px;
	position:relative;
	z-index:2;
	padding:10px 0 10px 10px;
}
/*表情区:笑脸,留言，截图工具*/
.funcPanel .addFace,.funcPanel .leaveMessage, .addFace ,.capture{
	display:inline-block;
	float:left;
	margin:4px 10px 4px 0;
	width:18px;
	height:18px;
}
/*表情区:笑脸*/
.funcPanel .addFace{
	background-image:url(../img/index/bgGroup.png);
	background-position:0 0;
}
/*表情区:上传文件  此功能已取消*/
/*.funcPanel .uploadFile{*/
	/*float:left;*/
	/*position:relative;*/
	/*width:22px;*/
	/*height:22px;*/
	/*cursor:pointer;*/
	/*margin:4px 10px 4px 0;*/
	/*overflow:hidden;*/
/*}*/
/*表情区:留言*/
.funcPanel .leaveMessage{
	background-image:url(../img/index/bgGroup.png);
	background-position:-278px 0;
}
/*表情区:截图工具*/
.funcPanel .capture{
	background-image:url(../img/index/bgGroup.png);
	background-position:-3631px 0;
}
/*文本区*/
.dialog .chat-content .chat-content-footer .chat-content-footer-on .text-layout .textArea{
	overflow:hidden;
	position:relative;
	margin-bottom:4px;
	max-height:500px;
}
/*文本区:pre有什么实用*/
.dialog .chat-content .chat-content-footer .chat-content-footer-on .text-layout .textArea .textareaPre{
	float:left;
	min-height:34px;
	white-space:pre-wrap;/*white-space属性设置如何处理元素内的空白:保留空白符序列，但是正常地进行换行*/
	visibility:hidden;
	width:100%;
	height:100%;
	max-height:160px;
	color:#999;
	font-size:12px;
	font-family:"Microsoft Yahei";
	border: none;
	word-wrap:break-word;
	clear:both;
	padding:0 82px 0 10px;
	box-sizing:border-box;
}
/*不知道具体用途参照原网页写的*/
.dialog .chat-content .chat-content-footer .chat-content-footer-on .text-layout .textArea .text{
	overflow:hidden;
	width:100%;
	height:32px;
	position:absolute;
	top:0;
	left:0;
	/*z-index:100;*/
	white-space:pre-wrap;
	font-size:12px;
	resize:none;
	border:none;
	font-family:"Microsoft Yahei";
	padding:0 82px 0 10px;
	box-sizing:border-box;
	outline:none;
}
/*反馈您的问题，我们将尽快回复*/
.dialog .chat-content .chat-content-footer .chat-content-footer-on .text-layout .textArea .inputPlaceholder{
	position:absolute;
	top:0;
	left:0;
	z-index:102;
	color:#adb1b1;
	box-sizing:border-box;
	padding:3px 82px 0 10px;
	white-space:pre-wrap;
	word-wrap:break-word;
	font-size:12px;
	resize:none;
	border:none;
	font-family:"Microsoft Yahei";
}
/*发送按钮*/
.dialog .chat-content .chat-content-footer .chat-content-footer-on .text-layout .sendbtn{
	position:absolute;
	right:11px;
	bottom:0;
	cursor:pointer;
	width:42px;
	height:28px;
	line-height:28px;
	text-align:center;
	border-radius:2px;
	font-size:14px;
	color:#fff;
	background:#e0e9e8;
}
.changeColor{
	background:green;
}
/* 楼层滚动 */
.lift{
	display:none;
	background-color: #918888;
	position:fixed;
	left:10px;
	top:100px;
	margin-top:25px;
	z-index:100;
}
.lift .lift_list{
	display:block;
}

.lift .lift_list .lift_item{
    border-top:1px solid #b1aaaa;
	transition:background-color .1s;
	transition:all .3s linear;
}
.lift .lift_list .lift_item .lift_btn {
   overflow:hidden;/*有什么用处*/
   display:block;
   width:34px;
   padding:10px 8px;
   line-height:14px;
   text-align:center;
   color:#fefefe;
   transition:color .1s;
}

.lift .lift_list .lift_item:hover, .lift_item.hover {
	border-color: #d70b1c;
    background-color: #d70b1c;	
}
.lift .lift_list .lift_item .lift_btn:hover{
	position: relative;
    border-bottom: 1px solid #d70b1c;
    margin-bottom: -1px;
	text-decoration:none;
	color:blue;
}

/*导航吸顶*/
.fixed{
	position:fixed !important;
	width:100% !important;
	background:#fff !important;
	z-index:10000;
	top:0px;
}
.chazhao{
	position:relative;
	top:-90px;
	left:350px;
}
.sear-add .gwc_add .gouwuche{
	bottom:70px !important;
}

.sear_add2,.sear-add{
	height:0px !important;
}
.sear_add2{
	/*display:none;*/
}